<app-view-navigation
  ><button
    *ngIf="mapClickListener == null && user?.role == Role.USER"
    mat-flat-button
    class="nav-button"
    color="primary"
    (click)="activateMapClickListener()"
  >
    Select on the Map
  </button>
  <button
    *ngIf="mapClickListener && user?.role == Role.USER"
    mat-stroked-button
    class="nav-cancel-button"
    (click)="disactivateMapClickListener()"
  >
    Cancel
  </button></app-view-navigation
>

<div #mapRef id="map" class="map-container"></div>

<!-- Autocomplete input for address selection -->
<app-autocomplete-input
  class="search-container"
  *ngIf="isMapLoaded"
  (setAddress)="getAddress($event)"
></app-autocomplete-input>
